<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


  <link rel="stylesheet" href="styles.css">
  <meta name="description" content="I have gone bald for making this website">
</head>
  <body>
    <header class="l-header" role="banner">
        <nav role='navigation'>
          <a class="logo" href="">{{author}}</a>
        </nav>  
      </header>
      
      <main class="l-main" role="main">
      <article class="post">
        <header class="post-header">
          <h1>{{title}}</h1>
          <time class="post-date" datetime="2014-01-25">{{date}}</time>
        </header>
        
        <p><span class="post-intro">I've said it once and and I am generating it again</span></p>
        <p>{{intro}} </p>
        <h2>{{prompt}} <span class="ampersand">&</span></h2>
        <p>{{blogText}}</p>
        
        <h3>Summing Up</h3>
        <p>{{summary}}</p>
        
        <figure class="codeblock">
          <code><pre>
      $(document).ready(function(){
        console.log("Good to go, chief.");
      });</pre></code>
        </figure>   
        <h4>Generated by AI</h4>
        <p></p>
      </article>
      </main>
      
      <footer class="l-footer">
        <div class="grid">
          <div class="grid-box--1of2">
                <img class="c-circle" src="http://johndjameson.com/img/avatar.jpg" alt="The amiable John D. Jameson" />
                <span class="logo--b">Raviteja Motupalli</span>
                <p class="c-subdued">Engineer | creator</p>
          </div>
          <div class="grid-box--1of2">
            <ul class="c-subdued">
              <li><a href="https://twitter.com/johndjameson">Twitter</a></li>
              <li><a href="http://dribbble.com/johndjameson">Dribbble</a></li>
              <li><a href="https://codepen.io/johndjameson/">CodePen</a></li>
            </ul>
          </div>
        </div>
      </footer>
      <p class="l-quote">“You're ready. Start making stuff.” —&nbsp;Austin&nbsp;Kleon</p>
  </body>
</html>